In [ ]:
item = pd.read_excel('/content/商品情報.xlsx')
item

:

In [ ]:
import pandas as pd

customer = pd.read_excel('/content/顧客情報.xlsx')
customer

In [ ]:
transaction_4 = pd.read_excel('/content/4月販売情報.xlsx')
transaction_4

In [ ]:
transaction_5 = pd.read_excel('/content/5月販売情報.xlsx')
transaction_5

In [ ]:
transaction = pd.concat([transaction_4, transaction_5], ignore_index=True)
transaction

In [ ]:
join_data = pd.merge(transaction, item, on="商品番号")
join_data

In [ ]:
join_data = pd.merge(join_data, customer, on="顧客番号")
join_data = join_data.sort_values("販売日", ascending=True)
join_data = join_data.reset_index(drop=True)
join_data

In [ ]:
import pandas as pd
uriage_data = pd.read_excel("/content/クレンジング前.xlsx")
uriage_data

In [ ]:
uriage_data.loc[3, "曜日"] = "日"
uriage_data

In [ ]:
uriage_data["商品名"] = uriage_data["商品名"].str.replace("はさみ", 'ハサミ')
uriage_data

In [ ]:
uriage_data["顧客の性別"].mode()

In [ ]:
uriage_data["顧客の性別"] = uriage_data["顧客の性別"].fillna("女性")
uriage_data

# Task
uriage_dataをクレンジングして整形してください

## データの確認

### Subtask:
`uriage_data` のデータ型、欠損値、およびデータの概要を確認します。

**Reasoning**:
Check the data types, missing values, and descriptive statistics of the `uriage_data` DataFrame.

In [ ]:
display(uriage_data.info())
display(uriage_data.isnull().sum())
display(uriage_data.describe())

## 商品名の表記揺れの統一

### Subtask:
商品名 列の表記揺れを修正します。

**Reasoning**:
Identify and unify the variations in the '商品名' column to address the data cleaning subtask. Then, display the unique values in the '商品名' column to confirm the changes.

In [ ]:
print("Original unique values in '商品名':")
display(uriage_data['商品名'].unique())

uriage_data['商品名'] = uriage_data['商品名'].replace('はさみ', 'ハサミ')

print("\nUnique values in '商品名' after cleaning:")
display(uriage_data['商品名'].unique())

## 欠損値の処理

### Subtask:
欠損値が存在する列に対して適切な処理を行います。

**Reasoning**:
Fill missing values in '曜日', '顧客の性別', and '顧客の年齢' columns with appropriate values.

In [ ]:
uriage_data['曜日'].fillna('不明', inplace=True)
uriage_data['顧客の性別'].fillna('不明', inplace=True)
uriage_data['顧客の年齢'].fillna(uriage_data['顧客の年齢'].mean(), inplace=True)
display(uriage_data.isnull().sum())

## データ型の変換

### Subtask:
必要に応じて、列のデータ型を適切なものに変換します。

**Reasoning**:
Convert the '顧客の年齢' column to integer type and display the dataframe information to confirm the data types.

In [ ]:
uriage_data['顧客の年齢'] = uriage_data['顧客の年齢'].astype(int)
uriage_data.info()

## 整形後のデータの確認

### Subtask:
クレンジングおよび整形後の `uriage_data` を確認します。

**Reasoning**:
Set display options to show all rows and columns, then display the first few rows, the shape, data types, missing values, and descriptive statistics of the cleaned uriage_data DataFrame.

In [ ]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
display(uriage_data.head())
display(uriage_data.shape)
display(uriage_data.info())
display(uriage_data.isnull().sum())
display(uriage_data.describe())

## Summary:

### Data Analysis Key Findings

*   The initial `uriage_data` DataFrame contained 7 rows and 7 columns with columns for date, day of the week, product name, price, quantity, customer gender, and customer age.
*   Missing values were present in the '曜日', '顧客の性別', and '顧客の年齢' columns (one in each).
*   A表記 variation was found in the '商品名' column ('はさみ' and 'ハサミ').
*   The表記 variation in '商品名' was unified to 'ハサミ'.
*   Missing values in '曜日' and '顧客の性別' were filled with '不明'.
*   Missing values in '顧客の年齢' were filled with the mean age.
*   The data type of the '顧客の年齢' column was successfully converted from float64 to int64.
*   After cleaning and formatting, the DataFrame has no missing values and the data types are appropriate for analysis.

### Insights or Next Steps

*   The data is now ready for further analysis, such as calculating total sales per product, analyzing sales trends by day of the week or customer demographics.
*   Consider documenting the data cleaning steps and rationale for future reference or automation.